useDynLib(gputools)
export(gpuCor, 
	gpuTtest,
	gpuQr, gpuSolve,
	gpuGranger, 
	gpuDist, gpuHclust, gpuDistClust,
	gpuMatMult, cpuMatMult, gpuCrossprod, gpuTcrossprod,
	gpuMi,
	gpuLm, gpuLm.fit, gpuLsfit, gpuGlm, gpuGlm.fit,
	chooseGpu, getGpuId)
