useDynLib(gputools)

export(gpuCor, 
	gpuTtest,
	gpuQr, gpuSolve,
	gpuGranger, 
	gpuDist, gpuHclust, gpuDistClust,
	gpuMatMult, cpuMatMult, gpuCrossprod, gpuTcrossprod,
	gpuMi,
	gpuLm, gpuLm.fit, gpuLsfit, gpuGlm, gpuGlm.fit,
	chooseGpu, getGpuId)

importFrom("stats",
  ".getXlevels",
  "as.dist",
  "complete.cases",
  "gaussian",
  "is.empty.model",
  "model.extract",
  "model.matrix",
  "model.offset",
  "model.response",
  "model.weights")
